<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shepherd.manage.role.mapper.RoleMapper">

    <insert id="batchAddRole">
        INSERT INTO T_MB_ROLE(role_name,role_name_zh,role_desc,status)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.roleName},
            #{item.roleNameZh},
            #{item.roleDesc},
            #{item.status}
            )
        </foreach>
    </insert>
    <insert id="batchAddRoleMenu">
        insert into T_MB_ROLE_MENU(role_id, menu_id)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.roleId},
            #{item.menuId}
            )
        </foreach>
    </insert>
    <delete id="deleteRoleMenu">
        delete from T_MB_ROLE_MENU
        where IS_DEL=0 AND role_id=#{roleId} AND menu_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <resultMap id="roleMenuMap" type="com.shepherd.manage.role.bean.MbMenuBean">
        <id column="menu_id" property="menuId" jdbcType="INTEGER"/>
        <result column="menu_path" property="menuPath" jdbcType="VARCHAR"/>
        <result column="menu_name" property="menuName" jdbcType="VARCHAR"/>
        <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR"/>
        <collection property="childs" ofType="com.shepherd.manage.role.bean.MbMenuBean" select="selectById" column="menu_id"/>
    </resultMap>
    <select id="selectById" resultMap="roleMenuMap">
		select menu_id,menu_path,menu_name,menu_icon from T_MB_MENU where parent_id = #{menu_id} and is_del=0 order by menu_id asc
	</select>
    <select id="roleMenuList" resultMap="roleMenuMap">
        SELECT
            distinct
            m.menu_id,
            m.menu_path,
            m.menu_name,
            m.menu_icon
        FROM
            T_MB_MENU m,
            T_MB_ROLE_MENU rm
        WHERE
            m.menu_id = rm.menu_id
            AND m.parent_id = 0
            AND m.is_del =0
            AND rm.is_del=0
            AND rm.role_id in
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item.roleId}
            </foreach>
            order by m.menu_id asc
    </select>

    <resultMap id="menuMap" type="com.shepherd.manage.role.bean.MbMenuBean">
        <id property="menuId" column="menu_id" />
        <result property="menuName" column="menu_name"/>
        <collection property="childs" ofType="com.shepherd.manage.role.bean.MbMenuBean" select="getMenuByParentId" column="menu_id" />
    </resultMap>
    <select id="getMenuByParentId" resultMap="menuMap">
        select menu_id,menu_name from T_MB_MENU t where t.is_del=0 and t.parent_id=#{menu_id}
    </select>
    <select id="getMenuList" resultMap="menuMap">
        select menu_id,menu_name from T_MB_MENU t where t.is_del=0 and t.parent_id=0
    </select>

    <resultMap id="roleMap" type="com.shepherd.manage.role.bean.RoleBean">
        <id property="roleId" column="role_id" />
        <result property="roleName" column="role_name"/>
        <result property="roleNameZh" column="role_name_zh"/>
        <result property="roleDesc" column="role_desc"/>
        <result property="status" column="status"/>
    </resultMap>
    <select id="getRoleList" resultMap="roleMap">
        select role_id,role_name,role_name_zh,role_desc,status from T_MB_ROLE t where t.is_del=0
    </select>
    <select id="getRoleMenuList" resultType="string">
        select menu_id from T_MB_ROLE_MENU t where t.is_del=0 and t.role_id=#{roleId}
    </select>

</mapper>
